*{
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
   /* justify-content: space-around; */
   padding: 30px;
   
}
/* .brand-name{
    /* display: flex; */
    /* width: 280px; */
/* }  */
.brand-title i{
    color: rgb(109, 105, 105);
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
}

.brand-title{
      color: rgb(109, 105, 105);
    font-size: 30px;
    font-weight: 600;
}
.brand-title nav ul li{
    margin-left: -53;
    font-size:30px;
    color: crimson;
  
}

nav ul {
    display: flex;
}
ul li{
    cursor: pointer;
    margin-left: 12px;
    list-style: none;
}

.sub-title {
    margin-left:90px
}

.sub-title-1{
    color: rgb(211, 19, 19);
}

.sub-title-2{
    color: rgb(19, 19, 90);
}

.sub-title-3{
    color: gray;
}

.nav-bar-button nav{
   
   margin-top: 16px;
}



.search-or-subscribe{
    justify-content: right;
    padding-right: -404px;
    padding: 7px;
    display: flex;
}

.subscribe-btn{
    border-radius: 15px;
    padding: 12px;
    border: 2px solid gray;
    font-size: 15px;
     cursor: pointer;
}
.search-btn{
    font-size: 20px;
    padding:12px;
     cursor: pointer;
}

.search-btn:hover{
    color: orangered;
}

.subscribe-btn:hover{
    background-color:orangered;
    color: white;
}

ul li:hover{
    color: orangered;
}

.banner-container{
    margin-top: -20px;
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
   
    /* background-image: url(./public/images/pharma-banner.png); */
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-crousel{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    height: 500px;
    border: 1px solid black;
}

.navigate-btn{
    background-color: orangered;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 400px;
    right: 10px;
    color: white;
    font-size: 20px;
    align-content: center;
    text-align: center;
    border-radius: 60px;
}


.ads-container{
   background-color:rgb(239, 235, 235);
    height: 1600px;
    box-shadow: 0px 0.1px 1px gray;
}

.ads-title h1{
    padding: 10px;
    text-align: center;
    padding-top: 200px;
}

.ads-images-container{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    
    height: 500px;
    border: 1px solid black;
}

.ads-image-first{
    border: 1px solid black;
    margin-right: 8px;
}

.ads-image-second{
    border: 1px solid black;
}

.l-news{
   display: inline;
   padding-left: 60px;
}

.latest-title{
    padding-top: 89px;
}

.sub-title-latest{
   padding-left: 17px;
    font-size: 20px;
}

.card-1{
    margin-right: 19px;
    border: 1px solid black;
}

.card-2{
    margin-right: 19px;
    border: 1px solid black;
}

.card-3{
    margin-right: 19px;
    border: 1px solid black;
}


.cards{
    margin-top: 33px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 12px;
    height: 500px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}


