*{
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
   /* justify-content: space-around; */
   padding: 20px;
}
.brand-name{
    /* display: flex; */
    /* width: 280px; */
}
.brand-title i{
    font-family: arial;
    font-size: 32px;
}

.brand-title{
    font-size: 30px;
}
.brand-title span{
    margin-left: -53;
    font-size:30px;
    color: crimson;
}

.sub-title {
    margin-left:90px
}

.sub-title span{
    color: rgb(211, 19, 19);
}