*{
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
   /* justify-content: space-around; */
   padding: 30px;
   width: 100%;
}
.brand-name{
    /* display: flex; */
    /* width: 280px; */
}
.brand-title i{
    font-family: arial;
    font-size: 32px;
}

.brand-title{
    font-size: 30px;
}
.brand-title span{
    margin-left: -53;
    font-size:30px;
    color: crimson;
}

.sub-title {
    margin-left:90px
}

.sub-title-1{
    color: rgb(211, 19, 19);
}

.sub-title-2{
    color: rgb(19, 19, 90);
}

.sub-title-3{
    color: gray;
}

.nav-bar-button nav{
   
   margin-top: 16px;
}

nav span{
     cursor: pointer;
    margin-left: 19px;
}

.search-or-subscribe{
    padding-right: -404px;
    padding: 7px;
    display: flex;
}

.subscribe-btn{
    border-radius: 15px;
    padding: 12px;
    border: 2px solid gray;
    font-size: 15px;
     cursor: pointer;
}
.search-btn{
    font-size: 20px;
    padding:12px;
     cursor: pointer;
}

.search-btn:hover{
    color: orangered;
}

.subscribe-btn:hover{
    background-color:orangered;
    color: white;
}

nav span:hover{
    color: orangered;
}